<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.selina.ptj.mapper.UniversityMapper">
<resultMap id="BaseResultMap" type="org.selina.ptj.bean.University">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
</resultMap>
    <sql id="Base_Column_List">
        id,name,createDate,enabled
    </sql>
    <select id="getAllUniversities" resultMap="BaseResultMap">
        select * from university;
    </select>
    <insert id="insertSelective" parameterType="org.selina.ptj.bean.University">
        insert into university
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="createDate != null" >
                createDate,
            </if>
            <if test="enabled != null" >
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null" >
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from university where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteUniversityByIds">
        delete from university where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="org.selina.ptj.bean.University">
        update university
        <set>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                createDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null" >
                enabled = #{enabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
