<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.selina.ptj.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.selina.ptj.bean.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="userface" property="userface" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="org.selina.ptj.bean.User" extends="BaseResultMap">
        <collection property="roles" ofType="org.selina.ptj.bean.Role">
            <id column="rid" property="id" jdbcType="INTEGER"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, telephone, address, enabled, username, password, userface, remark
    </sql>
    <select id="getUserRolesById" resultType="org.selina.ptj.bean.Role">
        select r.* from role r,user_role userr
    where userr.`uid`=r.`id` and userr.`userid`=#{id}
    </select>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select * from user where username=#{username}
    </select>
    <select id="getAllUsers" resultMap="UserWithRoles">
     select user.id, user.name, user.phone, user.telephone, user.address, user.enabled,
     user.username, user.userface, user.remark,r.`id` as rid,r.`name` as rname ,r.`nameZh` as rnameZh
     from User left join user_role userr on user.`id`=userr.`userid` left join role r on userr.`uid`=r.`id`
     where user.`id`!=#{userid}
      <if test="keywords!=null">
          and user.name like concat('%',#{keywords},'%')
      </if>
      order by user.id
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="org.selina.ptj.bean.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user where id=#{id,jdbcType=INTEGER}
    </delete>
</mapper>